@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.top-container {
  background-image: url("https://images.pexels.com/photos/13162091/pexels-photo-13162091.jpeg");
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.top-container h1 {
  color: white;
  font-size: 50px;
  letter-spacing: 2px;
}

.text {
  margin: 50px 5%;
}

.navbar {
  display: flex;
  position: fixed;
  background-color: white;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.4s;
}

.navbar ul {
  display: flex;
  list-style-type: none;
}

.navbar ul li a {
  text-decoration: none;
  margin: 0 10px;
  color: black;
  font-family: cursive;
}

.navbar ul li a:hover {
  color: red;
}

.navbar.active {
  background-color: black;
}

.navbar.active ul li a {
  color: white;
}
